<section class="banner">
  <div class="content">
      <div class="banner-left">
          <div class="banner-left-header-text">
              What are you looking for?
          </div>
          <div class="banner-text-con1">
              <div>
                  <img src="./assets/image/banner-icon01.png" alt="">
              </div>
              <div>
                  <span>Help me create a Marketing Plan!</span><br>
                  The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that
              </div>
          </div>
          <div class="banner-text-con1">
              <div>
                  <img src="./assets/image/banner-icon01.png" alt="">
              </div>
              <div>
                  <span>I know what i am looking for.</span><br>
                  The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that
              </div>
          </div>
      </div>
      <div class="banner-right">
          <div class="banner-main-img">
              <img src="./assets/image/banner-main-img.png" alt="">
          </div>
          <div class="banner-right-text">
              <div class="banner-text-con2">
                 <strong> Hi there!</strong> Need help in creating a Marketing plan for your business? I can help you to create one using <strong>Retink AI engine.</strong>
              </div>
              <div class="banner-text-con3">
                  Click on the options to get started
              </div>
          </div>
      </div>
  </div>

</section>